
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script>
      $(document).ready(function(){
          $('#DiagramaObjCU2').click(function(){
            $("#contenido").load("/GesEventos-master/application/views/Documentacion/diaCU2.html");
                         });

          $('#DiagramaObjCU3').click(function(){
            $("#contenido").load("/GesEventos-master/application/views/Documentacion/diaCU3.html");
                         });

          $('#DiagramaClases').click(function(){
            $("#contenido").load("/GesEventos-master/application/views/Documentacion/diaClases.html");
                         });

          $('#DiagramaCasoUso').click(function(){
            $("#contenido").load("/GesEventos-master/application/views/Documentacion/diaCasoUso.html");
                         });

          /*$('#Jython').click(function(){
            $("#contenido").load("c_jython.html");
                         });

          $('#Jython').click(function(){
            $("#contenido").load("c_jython.html");
                         });*/
                    });
  </script>
</head>
<a href="#" id="DiagramaCasoUso">Diagrama de Casos de Uso</a><br/>
    <a href="#" id="DiagramaClases">Diagrama de Clases</a><br/>
    <a href="#" id="DiagramaObjCU2">Diagrama de Objetos CU 2</a><br/>
    <a href="#" id="DiagramaObjCU3">Diagrama de Objetos CU 3</a><br/>
    <section class="content-header">
      <h1>
        Diagrama de Objetos de Caso de Uso "Dejar comentario"
      </h1>
    </section>
    <section class="content container-fluid">
      <div class="row" style="overflow:auto;">
        <p align="center">
        	<img src="/GesEventos-master/assets/dist/img/DejarComentario.png" alt="Diagrama de objCU1"><br/><br/><br/>Caso 2:<br/>
          <img src="/GesEventos-master/assets/dist/img/DejarComentarioCaso2.png" alt="Diagrama de objCU1_2">
        </p> 
      </div>
      <div class="row">
        <br/><br/><br/>
        <a href="DocDiagrama" class="big-box-footer" >Regresar</a>
      </div>
    </section>